   <!--
    File Name: error.ejs
    Group 2: 2BeOrNot2Be 
    -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--CSS Section-->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href="/Content/app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
  <title>Error</title>
</head>
<body>
 <%- include Partials/main_nav.ejs%>

  <main class="container">
    <div class="jumbotron bg-light p-5 rounded-lg m-3">
    <h1>Error</h1>
    <hr>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
</div>
</main>

<!-- Bottom Nav -->
    <footer>
      <nav class="navbar fixed-bottom navbar-light bg-dark">
        <div class="container-fluid">
          <h6 class="display-10 navbar-text" style="color: gray">&copy; Copyright 2021. All Rights reserved.</h6>
        </div>
      </nav>
     </footer>

  <!--Script Section-->
  <script src="/Scripts/apps.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
