  /*  
    File Name: app.css
    Group 2: 2BeOrNot2Be
    
     */

     @font-face {
      font-family: 'bebas_neuebold';
      src: url('bebasneue-bold-webfont.woff2') format('woff2'), url('bebasneue-bold-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
    
    body {
      background-color: #3C413D;
    }
    
    main {
      margin-left: auto;
      margin-right: auto;
      width: 960px;
      display: table;
    }
    
    #nav_Name {
      position: relative;
      left: 10px;
    }
    
    .navbar-expand-lg {
      position: sticky;
      top: 0px;
      z-index: 20;
    }
    
    #logo {
      height: 80px;
      width: 80px;
      border-radius: 100px;
    }
    
    a {
      font-family: bebas_neuebold;
      font-stretch: expanded;
    }
    
    .jumbotron {
      font-family: bebas_neuebold;
      border-radius: 10px;
      box-shadow: 5px 5px 5px black;
      width: 93%;
    }
    
    #jum_home {
      height: 860px;
    }
    
    .pages {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    label {
      display: table-row;
      position: relative;
    }
    
    input {
      display: table-cell;
      position: relative;
      left: 80%;
      bottom: 24px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 5px;
    }
    
    .inputAreas{
      left:13%;
    }
    
    textarea {
      position: relative;
      right: 50px;
    }
    
    .button {
      margin: 5px;
      position: relative;
      left: 0px;
    }
    
    #welcome {
      width: 80%;
      height: 20%;
      border-radius: 10px;
      position: relative;
      left: 12%;
      border: #3C413D 1px solid;
    }
    
    .home_box {
      background-color: #3C413D;
      height: 55%;
      width: 80%;
      z-index: 1;
      position: relative;
      top: 50px;
      left: 12%;
      border-radius: 10px;
      border: 1px black solid;
      padding: 25px;
      color: white;
    }
    
    p, li {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .hover:hover {
      background-color: #FFFFC2;
      color: #3C413D;
    }
    
    #intro {
      color: #DCDC95;
      text-align: justify;
    }
    
    p.hover {
      width: -moz-fit-content;
      display: inline;
      position: relative;
      left: 180px;
      margin: 2px;
      padding: 2px;
      border-radius: 5px;
    }
    
    .hover {
      border-style: groove;
      background-color: #336699;
      color: #394d63;
    }
    
    label {
      font-family: bebas_neuebold;
      font-size: 21px;
      position: relative;
      left: 30px;
      top: 11px;
    }
    
    table {
      font-family: verdana;
    }
    
    .form-control {
      width: 60%;
    }
    
    #addsurvey {
      position: relative;
      left: 100px;
      width: 130px;
    }
    
    #displayName.hover {
      color: #DBDED5;
    }
    
    .navbart, .moved {
      position: relative;
      left: -80px;
    }
    
    li, ul {
      text-decoration: none;
      color: #616657;
      list-style: none;  
    }
    
    .jum {
      position: relative;
      left: 2%;
    }
    
    textarea{
      position: relative;
      left:10%;
    }
    
    .questions{
      position: relative;
      left: 10%;
    }
    
    @media (min-width: 100px) {
      .navbart, .moved {
        position: relative;
        left: 0px;
      }
      #slide{
        font: white;
      }
     
    }
    
    @media (min-width: 1200px) {
      .navbart, .moved {
        position: relative;
        left: -80px;
      }
       #slide{
        background: #212529;
        position: absolute;
        left: 84%;
        top: 70px;
        width: 180px;
        border-radius: 5px;
        display:none; 
        border: #394d63 solid 1px;
        z-index:2;
        text-align: center;
      
      }
    
      .slideText{
      position: relative;
      right: 10%;
      color: #9B9D9E;
      text-decoration: none;
    }
    .slideText.hover{
      color: #d4d4d4;
    }
    input {
      display: table-cell;
      position: relative;
      left: 50%;
      bottom: 24px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    #username, #name, #email, #password, 
    #newpassword, #newpassword2
    {
      width: 70%;
    }
    
    }
    
    #passwordError,#passwordError2,#passwordError3, #emailError, #usernameError, #nameError{
      position:relative;
      left:15%;
      display: hidden;
      color: red;
    }
    
      .slideText{
      position: relative;
      color: #9B9D9E;
      text-decoration: none;
    }
    
    .slideText.hover{
        color: #d4d4d4;
    }
    
    #saInput, #mcInput, #typeInput {
      display: inline;
      position: relative;
      left: 20%;
      bottom: 40px;
    }
    
    #mc, #sa {
      position: relative;
      left: 21%;
      bottom: 40px;
    }
    #typeTitle {
      position: relative;
      left: 12%;
      bottom: 25px;
      font-family: bebas_neuebold;
    }
    
    #numTitle{
      position: relative;
      left: 35%;
      bottom: 113px;
      font-family: bebas_neuebold;
    }
    
    #numOfQuestions{
      position: relative;
      left: 47%;
      bottom: 125px;
    }
    
    #expireTitle{
      position: relative;
      left: 55%;
      bottom: 177px;
      width: 160px;
      font-family: bebas_neuebold;
    }
    
    #expiry{
      position: relative;
       bottom: 214px;
       left: 67%;
    }
    #nameTextField,#q1TextField, #q2TextField,
     #q3TextField, #q4TextField,
      #q5TextField, #q6TextField, 
      #q7TextField, #q8TextField,
       #q9TextField, #q10TextField{
      position: relative;
      bottom: 0px;
      left: 20px;
    }
    
    #child{
      position: relative; 
      left: 20%;
    }
    
    #q1A1, #q1A2, #q1A3, #q1A4,
    #q2A1, #q2A2, #q2A3, #q2A4,
    #q3A1, #q3A2, #q3A3, #q3A4,
    #q4A1, #q4A2, #q4A3, #q4A4,
    #q5A1, #q5A2, #q5A3, #q5A4,
    #q6A1, #q6A2, #q6A3, #q6A4,
    #q7A1, #q7A2, #q7A3, #q7A4,
    #q8A1, #q8A2, #q8A3, #q8A4,
    #q9A1, #q9A2, #q9A3, #q9A4,
    #q10A1, #q10A2, #q10A3, #q10A4{
      position: relative; 
      bottom: 0px;
      left: 2%;
      width: 58.5%
    }
    
    .viewA{
    position: relative; 
    left: 30%;
    top: 39px;
    }
    
    .viewLabels{
      position: relative;
      left: 26%;
      top: 13px;
    }
    
    .questionLabels{
      position: relative;
      left: 20%;
    }
    
    #q1A1SAView,#q2A1SAView,#q3A1SAView,
    #q4A1SAView,#q5A1SAView,#q6A1SAView,
    #q7A1SAView,#q8A1SAView,
    #q9A1SAView,#q10A1SAView{
      position: relative;
      left: 20%;
      width: 60%;
    }
    
    #cancel-btn {
      margin: 5px;
     position: relative;
     left: 50%;
     bottom: 24px;

   }